name: Testes

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  testes_unitarios:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do c칩digo
      uses: actions/checkout@v2
      with:
        path: bingo-online  # ajuste o nome do subdiret칩rio conforme necess치rio

    - name: Configurar o ambiente Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Executar testes unit치rios
      run: mvn -f bingo-online/pom.xml test
